{% extends "layout.html.twig" %} {# 親テンプレートを指定 #}

{% block title %}お問い合わせ{{ parent() }}{% endblock %} {# parent()で非共通部分にコードを追加 #}{# 非共通部分：titleブロック #}

{% block body %} {# 非共通部分：blockブロック #}
<section id="home" class="head-main-img"> {# idは一回だけ、classは複数回使える。構造上の見やすさとして、大きなレイアウトをidとすると良い #}
    <div class="container">
        <div class="row text-center pad-row">
            <div class="col-md-10 col-md-offset-1">
                <h1><span class="back-light">お問い合わせ</span></h1>
            </div>
        </div>
    </div>
</section>

<section id="inquiry-sec">
    <div class="container">
        <div class="row pad-row">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }} {# フォームの開始タグを出力。クライアントサイドバリデーションの無効化 #}
            <table class="table">
                <tr>
                    <th><i class="fa fa-circle"></i>お名前</th> {# "fa fa-circle"で、黒丸を表示 #}
                    <td>
                        {{ form_widget(form.name, {"attr": {"class":"form-control"}} ) }} {# Inquiry/index.html.twigから$formをレンダリングし、ウィジェットとして出力 #}
                        {{ form_errors(form.name) }} {# フィールドに入力間違いがあった場合、エラーメッセージを出力 #}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-circle"></i>メールアドレス</th> {# "fa fa-circle"で、黒丸を表示 #}
                    <td>
                        {{ form_widget(form.email, {"attr": {"class":"form-control"}} ) }} {# Inquiry/index.html.twigから$formをレンダリングし、ウィジェットとして出力 #}
                        {{ form_errors(form.email) }} {# フィールドに入力間違いがあった場合、エラーメッセージを出力 #}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-circle-o"></i>電話番号</th> {# "fa fa-circle"に"o"をつけることで、白塗り丸を表示 #}
                    <td>
                        {{ form_widget(form.tel, {"attr": {"class":"form-control"}} ) }} {# Inquiry/index.html.twigから$formをレンダリングし、ウィジェットとして出力 #}
                        {{ form_errors(form.tel) }} {# フィールドに入力間違いがあった場合、エラーメッセージを出力 #}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-circle"></i>お問い合わせ種別</th> {# "fa fa-circle"で、黒丸を表示 #}
                    <td>
                        {{ form_widget(form.type, {"attr": {"class":"form-control"}} ) }} {# Inquiry/index.html.twigから$formをレンダリングし、ウィジェットとして出力 #}
                        {{ form_errors(form.type) }} {# フィールドに入力間違いがあった場合、エラーメッセージを出力 #}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-circle"></i>お問い合わせ内容</th> {# "fa fa-circle"で、黒丸を表示 #}
                    <td>
                        {{ form_widget(form.content, {"attr": {"class":"form-control"}} ) }} {# Inquiry/index.html.twigから$formをレンダリングし、ウィジェットとして出力 #}
                        {{ form_errors(form.content) }} {# フィールドに入力間違いがあった場合、エラーメッセージを出力 #}
                    </td>
                </tr>
            </table>
            <div class="text-center">
            {{ form_widget(form.submit, {"attr": {"class":"btn btn-primary"}}) }}
        </div>
        {{ form_end(form) }}　{# フォームの終了タグを出力 #}
    </div>
</section>
{% endblock %}